/* Index css */
/* index service css */

.services {
    
    margin: 50px;
    height: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    padding: 50px;
    box-sizing: border-box;
    align-items: center;
    /* margin-top: 30px;
    margin-bottom: 30px; */
}

.service-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: #efcec9;
    width: 100%;
}

.service-about a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #911439;
    color: white;
    text-decoration: none;
}

.service {
   
    width: 23%;    
    border: 1px solid #ccc;
    text-align: center;
}

.service img {
    width: 100%;    
    height: auto;    
}
.service a{
    display: block;
    color: inherit;
    text-decoration: none;
    
}
/* about */
.about {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}

.about-content {
    flex: 1;
    margin-right: 20px; /* Add some space between the text and the image */
}

.about-img {
    flex: 1;
}

.about a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #911439;
    color: white;
    text-decoration: none;
}

.about img {
    width: 100%;
    max-height: 300px; /* Restrict the maximum height */
    object-fit: cover; /* This will ensure that the image covers the area of the container without stretching */
}

/* team */

.team-title 
{
    background-color: #efcec9;
    padding: 50px 0 100px 0;
    text-align: center;
}

.team 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.team-member 
{
    width: 23%; /* Adjust as needed */
    text-align: center;
    border: 1px solid #ccc;
}

.team-member img 
{
    width: 100%;
    height: auto;
}

.team-member a 
{
    display: block;
    color: inherit;
    text-decoration: none;
}


/* gallery */
.gellary-head {
    background-color: #efcec9;
    padding: 50px 0 100px 0;
    text-align: center;
}

.gellary-grid-wrapper {
    width: 100%;
    float: left;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column {
    flex: 1;
    margin: 10px;
}

.img-link {
    display: block;
    margin-bottom: 20px;
}

.img-link img {
    width: 100%;
    height: auto;
}

body, html {
    height: 100%;
    margin: 0;
    
  }
  /* banner index */
  .slide  {  
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
  }  
  .slide img{
    height: 100%;
    width: 100%;
  }
  .slide  a span {
    position: relative;
  }
  .slide .carousel-caption {
    position: absolute;
    right: auto;
    left: 14%;
    top: 20%;
    max-width: 600px;
  }
  .slide .carousel-caption .banner-head h1 {
    max-width: 600px;
    text-align: left;
    line-height: 70px;
  }
  .slide .carousel-caption .banner-head h1 span {
    color: #911439;
  }
  .slide .carousel-caption .banner-head p {
    text-align: left;
    color: #222222;
    padding: 30px 0;
  }
 
  .banner-btn{
    display: flex;  
    color:white;
    text-decoration: none;
    width: 150px;
    background-color: #911439;
    height: 50px;
    align-items: center;
    justify-content: center;        
  }
  .banner-btn:hover{background-color:#222222}

  .simple-slider {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    flex: 0 0 100%;
  }
  
  /* button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    cursor: pointer;
  } */
  
  button:first-child {
    left: 10px;
  }
  /* readmore index */
.readmore{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  
}
a.readmore-btn{
  display: flex;
  color:white; 
  background-color: #911439;  
  width: 150px;
  height: 50px;  
  align-items: center;
  justify-content: center; 
    text-decoration: none;
}
.readmore-btn:hover{background-color: #222222;}

/* testimonial index */
.testimonial {    
    width: 100%;
    text-align: center;
}

.testimonials {    
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    
}

.testimonial-item {
    width: 600px;    
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.testimonial-item img {
    width: 50px; 
    height: 50px;
    border-radius: 50%;
}

.testimonial-item h4 {
    margin-top: 10px;
}

/* news css */

.newsletter {
    background-color: #efcec9;
    text-align: center;
    padding: 100px 0;
}

.subscribe-form {
    margin-top: 20px;
}

.subscribe-form input[type="email"] {
    padding: 10px;
    width: 60%;
    margin-right: 10px;
}

.subscribe-form button {
    padding: 10px 20px;
    background-color: #911439;
    color: white;
    border: none;
    cursor: pointer;
}



/* history content */
.blog-wrapper-one {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.blog-detail-section {
    background-color: #f9f9f9;
    padding: 20px;
    box-sizing: border-box;
}

.detail-img img {
    width: 100%;
    height: auto;
}

.detail-content span {
    display: block;
    color: #888;
    margin-bottom: 10px;
}

.detail-content h4 {
    margin-bottom: 20px;
}

.detail-pera p {
    margin-bottom: 20px;
}

.thought-wrapper {
    background-color: #eee;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.bottom-pera p {
    margin-bottom: 20px;
}