.simple-slider {
    position: relative;
    overflow: hidden;
    height: 100vh;
  }
  
  .slider-wrapper {
    display: flex;
    width: 100%;
  }
  
  .slide {
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  
  .slide-text {
    white-space: nowrap; /* Prevent the text from wrapping */
    overflow: hidden; /* Hide any text that overflows the element */
    text-overflow: ellipsis; /* Display an ellipsis (...) to represent the clipped text */
    transform: translate(-50%, -50%); /* This centers the text within the .slide */
    text-align: center; /* Center the text horizontally */
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    color: white;
    background: rgba(0,0,0,0.5);
    border: none;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }

  .app-button
  {
    background-color: #911439;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
  }

  .content
  {
    position: absolute;
    top: 25%; /* Adjust these values as needed */
    left: 30%;
  }